
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared styles section  */

.bg-color{
    background-color: #f5f8ff;
}
.display-flex{
    display: flex;
}


/* nav stytles section */
.header{
    max-width: 100vw;
}
.navbar{
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    margin-left: 50px;
}
.nav-bold{
    font-weight: 700;
}
.nav-semi{
    font-weight: 600;
}
.nav-item{
    list-style: none;
    margin: 30px;
}
.nav-links{
    margin-right: 50px;
}
.nav-link{
    color: black;
    text-decoration: none;
}

/* Hero styles section */
.hero{
    max-width: 100vw;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
}
.hero-text{
    max-width: 50%;
    min-width: 280px;
}
.hero-text h1 {
  font-size: 4rem;
  font-weight: 700;
}
.highlight{
    color: #E95A08;
}
.hero-text p {
    margin-top: 5px;
    font-size: 1.2rem;
    max-width: 500px;
}

/* Products grid styles section */
.section-title{
    text-align: center;
    font-size: 3.1rem;
    margin-top: 50px;
}
.section-desc{
    text-align: center;
    margin: 10px auto 30px;
}
.products{
    max-width: 100vw;
    padding: 20px 60px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.product-card{
    text-align: center;
    padding: 10px;
}
.product-card img {
    width: 100%;
}
.product-card h3{
    margin: 10px 0 5px;
    font-weight: 500;
}
.product-card p {
    font-weight: 700;
}
.product-card button {
    width: 100%;
    margin-top: 10px;
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 8px 16px;

}

/* Plant Lover Section */
.trusted-plant-lover{
    max-width: 100vw;
    margin: 200px 80px;
    justify-content: space-between;
    align-items: center;
}
.img{
    background: url(../assets/flower-store.png);
    background-repeat: no-repeat;
    width: 540px;
    height: 596px;
    position: relative;
}
.img img {
    height: 285px;
    position: absolute;
    top: -140px;
    right: -130px;
}
.content{
    max-width: 50%;
    height: auto;
    padding-left: 60px;
    padding-top: 20px;
}
.content h2{
    font-weight: 700;
    font-size: 3.1rem;
}
.trusted-plant-lover ul li {
    font-size: 1.3rem;
    margin: 20px 0;
}

/*  Latest deal Styles Section */

.latest-deal{
    max-width: 100vw;
    margin: 60px 80px;
}
.latest-deal-title{
    text-align: center;
    margin-bottom: 60px;
}
.latest-deal-title h2 {
    font-size: 3.1rem;
    font-weight: 700;
}
.latest-deal-title p {
    font-size: 1.3rem;
    text-align: center;
    margin: 20px 0 30px 0;
}
.deal-grid {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 197px 197px;
}
.bloom-plant {
    background-image: linear-gradient(rgba(38, 37, 37, 0.6), rgba(39, 39, 39, 0.4)), url(../assets/deal-bloom.png);
    background-size: cover;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.zabo-plant{
    background-image: linear-gradient(rgba(38, 37, 37, 0.6), rgba(40, 39, 39, 0.4)), url(../assets/deal-zabo.png);
    grid-row: span 2;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.ana-plant{
    background-image: linear-gradient(rgba(38, 37, 37, 0.6), rgba(40, 39, 39, 0.4)), url(../assets/deal-ana.png);
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.deal-grid div h2 {
    font-size: 1.25rem;
    font-weight: 700;
}
.deal-grid div span {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.zabo-plant h2 {
    font-size: 2.5rem;
}
.zabo-plant span {
    font-size: 1.625rem;
    text-underline-offset: 6px;
}

/* join styles section */

.join{
    max-width: 100vw;
    height: 535px;
    background: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.join h2 {
    font-size: 3.125rem;
    font-weight: 700;
    color: white;
    margin: 0 0 10px;
}
.join .buttons {
    display: flex;
    align-items: center;
}
.buttons input {
    border: none;
    font-size: 1rem;
    height: 50px;
    width: 644px;
    outline: none;
    padding: 0 26px;
}
.buttons button {
    height: 50px;
    width: 186px;
    border: none;
    padding: 0 26px;
    background-color: #E95A08;
    color: white;
    font-size: 1rem;
}

/* Footer styles section */
footer{
    max-width: 100vw;
}
.main{
    height: auto;
    max-width: 100vw;
    margin: 24px 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.main div {
    height: 100%;
}
.text p {
    margin: 10px 0 0 0;
    font-size: 1.375rem;
}
.main ul li {
    list-style: none;
    margin-bottom: 24px;
    cursor: pointer;
}
.main ul li:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: crimson;
}
.foot-icons div {
    display: flex;
    align-items: center;
    gap: 20px;
}
.foot-icons div img {
    cursor: pointer;
}
.own-title {
    margin: 10px 0 0 0;
    font-size: 0.9rem;
    text-align: center;
    background-color: brown;
    color: aliceblue;
}
button:hover {
    cursor: pointer;
}


/* responsive for Large Devices */

@media (max-width:1024px) {
    .trusted-plant-lover .content {
        padding-left: 95px;
        padding-top: 20px;
    }
}

/* Media query for mobile devices */
@media screen and (max-width:576px) {
    .navbar {
    margin: 10px 10px;
    align-items: center;
    position: relative;
}

.nav-links .hide {
    display: none;
}
.unhide {
    max-width: 100%;
    font-size: 1.5rem;
    right: 0px;
    top: 30px;
}
.hero {
    margin: 30px 20px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.hero-text p {
    font-size: 1.5rem;
}
.hero-img {
    margin-bottom: 15px;
}
.products {
    margin: 0 20px;
}
.section-title {
    font-size: 1.5rem;
}
.section-desc{
    font-size: 0.9rem;
}
.product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.product-card {
    font-size: 1rem;
}

.trusted-plant-lover .img img {
    display: none;
}
.trusted-plant-lover {
    flex-direction: column;
    margin: 40px 20px;
}
.content {
    max-width: 100%;
    padding: 0;
    margin: 30px 0 0 0;
}
.content ul li {
    margin-left: 20px;
    font-size: 0.9rem; 
}
.content h2 {
    font-size: 1.5rem;
    display: inline;
    text-align: left;
}

.content p {
    font-size: 0.9rem;
}
.trusted-plant-lover .img {
    width: 100%;
}
 
.latest-deal {
    margin: 30px 20px;
}
.latest-deal-title h2 {
    font-size: 1.5rem;
}
.latest-deal-title p {
    font-size: 0.9rem;
}
.deal-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 26px;
    grid-template-rows: auto;
}
.zabo-plant {
    grid-row: auto;
}
.zabo-plant, .bloom-plant, .ana-plant {
    height: 205px;
}
.deal-grid div {
    line-height: 30px;
}
.zabo-plant h2 {
    font-size: 1.25rem;
}
.zabo-plant span {
    font-size: 1rem;
    text-underline-offset: 4px;
}
.bloom-plant {
    order: 1;
}
.zabo-plant {
    order: 3;
}
.ana-plant {
    order: 2;
}
.join {
    height: 265px;
}
.join h2 {
    font-size: 1.5rem;
    margin: 0 0 10px;
}
.buttons input {
    border: none;
    font-size: 0.9rem;
    height: 10px;
    width: 60vw;
    padding: 20px 8px;
}
.buttons button {
    width: 127px;
    padding: 20px 8px ;
}

.main {
    flex-direction: column;
    margin: 0 20px;
}
.text {
    margin: 30px 0 24px;
}
.text p {
    font-size: 1rem;
}
.main ul li {
    font-size: 1rem;
}
.foot-icons {
    width: 80%;
}
.own-title {
    margin: 20px 0 0 0;
    font-size: 0.8rem;
    background-color: brown;
    color: aliceblue;
}

}